name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit-dev.yml
      - .ndmrc
      - .nsprc
      - package-lock.json
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: ~

permissions: read-all

jobs:
  audit:
    name: ${{ matrix.what }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        what:
          - deprecations
          - vulnerabilities
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Audit
        run: npm run "audit:${WHAT}"
        env:
          WHAT: ${{ matrix.what }}
  heisenberg:
    name: Heisenberg
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      pull-requests: write # To comment on a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run Heisenberg analysis
        uses: AppOmni-Labs/heisenberg-ssc-gha@a9cc2de13cccacc18209addb89cbf45e8b794c84 # v1.0.3
        with:
          add_security_label: false
          package_file: package-lock.json
