name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit-dev.yml
      - .ndmrc
      - .nsprc
      - package-lock.json
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: ~

permissions: read-all

jobs:
  audit:
    name: ${{ matrix.what }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        what:
          - deprecations
          - vulnerabilities
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Audit
        run: npm run "audit:${WHAT}"
        env:
          WHAT: ${{ matrix.what }}
