name: Audit (release)
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: ~

permissions: read-all

jobs:
  v3:
    name: v3
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          ref: v3
      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Insert release audit config
        env:
          NDMRC: ${{ vars.NDMRC }}
          NSPRC: ${{ vars.NSPRC }}
        run: |
          echo "${NDMRC}" | tee .ndmrc
          echo "${NSPRC}" | tee .nsprc
      - name: Audit for vulnerabilities
        run: npm run audit:vulnerabilities:runtime
      - name: Audit for deprecation warnings
        run: npm run audit:deprecations:runtime
