name: Audit (release)
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: ~

permissions: read-all

jobs:
  v3:
    name: v3
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          ref: v3
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Insert release audit config
        env:
          NDMRC: ${{ vars.NDMRC }}
          NSPRC: ${{ vars.NSPRC }}
        run: |
          echo "${NDMRC}" | tee .ndmrc
          echo "${NSPRC}" | tee .nsprc
      - name: Audit for vulnerabilities
        run: npm run audit:vulnerabilities:runtime
      - name: Audit for deprecation warnings
        run: npm run audit:deprecations:runtime
