name: Publish
on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    outputs:
      released: ${{ steps.version.outputs.released }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # To obtain all tags
          persist-credentials: false
      - name: Check if version is released
        id: version
        run: |
          VERSION="v$(jq -r '.version' < package.json)"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          if [ "$(git tag --list "$VERSION")" ]; then
            echo 'released=true' >> "$GITHUB_OUTPUT"
          else
            echo 'released=false' >> "$GITHUB_OUTPUT"
          fi
  git:
    name: git
    runs-on: ubuntu-24.04
    if: ${{ needs.check.outputs.released == 'false' }}
    needs:
      - check
    permissions:
      contents: write # To push refs
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # To fetch all major version branches
      - name: Get major version
        id: major-version
        env:
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          echo "result=${VERSION%%.*}" >>"${GITHUB_OUTPUT}"
      - name: Publish git tag
        env:
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          git tag "$VERSION"
          git push origin "$VERSION"
      - name: Update major version branch
        env:
          MAJOR_VERSION: ${{ steps.major-version.outputs.result }}
        run: |
          git push origin "HEAD:$MAJOR_VERSION"
  npm:
    name: npm
    runs-on: ubuntu-24.04
    if: ${{ needs.check.outputs.released == 'false' }}
    needs:
      - check
    permissions:
      id-token: write # To attach provenance to the published package
    environment:
      name: npm
      url: https://www.npmjs.com/package/@ericcornelissen/eslint-plugin-top
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: npm clean-install
      - name: Publish to npm
        run: |
          npm run build
          npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
